#tab{
    text-align: center;
    background-color: rgb(236, 197, 98);
}

#head{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#thead{
    font-weight: bold;
}
#next{
    padding: 5px;
}
#first {
    padding: 5px;
}
#navi {
    padding: 10px;
}

#list {
    display: inline-flex;
    padding: 5px;

}

.navItem {
    color: black;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin: 4px;

}